.Admin-wrapper {
  width: 100vw;
  height: 100vh;
}
.categories-wrapper {
  width: inherit;
  height: inherit;
  padding-top: 4em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.categories-cont {
  width: inherit;
  height: inherit;
  /* background-color: aqua; */

  scroll-behavior: smooth;
  padding: 1em;
  display: flex;
  justify-content: space-around;
}
.categoryForm {
  border: 1px solid black;
  align-content: center;
  width: 23em;
  padding: 1em;
  height: 19em;
  border-radius: 1em;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}
.categoryForm h2 {
  text-align: center;
}
.categoryForm input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
.categoryForm #title {
  width: 20em;
  height: 2.5em;
  padding-left: 0.7em;
  border-radius: 0.45em;
  border: 1px solid grey;
}
.categoryForm button {
  display: block;
  background-color: rgb(218, 196, 156);
  width: 20em;
  height: 3em;
  border-radius: 0.45em;
  border: none;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-family: coco;
  font-weight: 600;
}
.categoryForm button:hover {
  transition: 0.3s;
  background-color: rgb(207, 182, 136);
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}
/*Category Table--------------------------------------------------*/
table.Table {
  border: 1px solid black;
  background-color: #eeeeee;
  width: 55em;
  border-collapse: collapse;
}
table.Table td,
table.Table th {
  border: 1px solid black;
  padding: 3px 2px;
}
table.Table tbody td {
  padding-left: 0.5em;
  font-size: 13px;
  height: 5em;
  width: auto;
}

table.Table thead {
  text-align: center;
  color: black;
  height: 2.5em;
  width: 15em;
  background-color: rgb(218, 196, 156);

  border-bottom: 1px solid #444444;
}
table.Table #title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 2em;
  border: 1px solid hsla(0, 0%, 0%, 0.311);
  border-radius: 0.4em;
  padding-left: 0.3em;
}
table.Table .updateThumbs::-webkit-file-upload-button {
  border: 1px solid hsla(0, 0%, 0%, 0.311);
  background: #084cdf;
  padding: 8px 12px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
table.Table button {
  font-family: coco;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid hsla(0, 0%, 0%, 0.311);
  border-radius: 0.75em;
  color: white;
  width: 7em;
  height: 2.5em;
  cursor: pointer;
}
table.Table .update {
  background-color: rgb(142, 43, 248);
}
table.Table .update:hover {
  transition: 0.3s;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(107, 22, 176);
}
table.Table .delete {
  background-color: rgb(248, 43, 67);
}
table.Table .delete:hover {
  transition: 0.3s;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(217, 46, 66);
}
table.Table thead th {
  font-size: 15px;
  font-weight: bold;

  border-left: 1px solid #d0e4f5;
}
table.Table thead th:first-child {
  border-left: none;
}
/*--------------------------------------------------Photos---------------------------------------------------------*/
.photos-wrapper {
  height: inherit;
  width: inherit;
  display: flex;
}
.photoForm {
  background-color: rgb(218, 196, 156);
  align-content: center;
  width: 25%;
  padding: 1em;
  height: inherit;
  border-radius: 1em;
}
.photoForm h2 {
  text-align: center;
}
.photoForm select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
.photoForm input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
.photoForm #title {
  width: 23em;
  height: 2.5em;
  padding-left: 0.7em;
  border-radius: 0.45em;
  border: 1px solid grey;
}
.photoForm .uploadImage {
  border: 1px solid hsla(0, 0%, 0%, 0.311);
  background: rgb(241, 235, 223);
  width: 23em;
  height: 4em;
  padding: 8px 12px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}
.photoForm .uploadImage::-webkit-file-upload-button {
  border: 1px solid hsla(0, 0%, 0%, 0.111);
  background: rgb(129, 113, 81);
  padding: 8px 12px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
.photoForm button {
  display: block;
  background-color: rgb(241, 235, 223);
  width: 23em;
  height: 3em;
  border-radius: 0.45em;
  border: none;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-family: coco;
  font-weight: 600;
}
.photoForm button:hover {
  transition: 0.3s;

  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}
.picture-display {
  height: inherit;
  overflow-y: auto;
  width: 75%;

  padding: 4em 0 1em 1em;
}

.imagesDisplayed {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5em;
}
.picture-display .imagesDisplayed img {
  height: 18em;
  width: 15em;
  object-fit: cover;
  border-radius: 0.5em;
}
.imagesActions img {
  z-index: 3;
}

.imagesActions button {
  z-index: 23333;

  background-color: rgb(248, 43, 67);
  border: 1px solid hsla(0, 0%, 0%, 0.311);
  border-radius: 0.75em;
  color: white;
  width: 7em;
  height: 2.5em;
  cursor: pointer;
}

.imagesActions button:hover {
  transition: 0.3s;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(217, 46, 66);
}

/*------------------------------------videos------------------------------------------*/
.videos-wrapper {
  height: inherit;
  width: inherit;
  display: flex;
}
.videoForm {
  background-color: rgb(218, 196, 156);
  align-content: center;
  width: 25%;
  padding: 1em;
  height: inherit;
  border-radius: 1em;
}
.videoForm label {
  font-size: 12px;
}
.videoForm h2 {
  text-align: center;
}

.videoForm .uploadVideo {
  border: 1px solid hsla(0, 0%, 0%, 0.311);
  background: rgb(241, 235, 223);
  width: 23em;
  height: 4em;
  padding: 8px 12px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}
.videoForm .uploadVideo::-webkit-file-upload-button {
  border: 1px solid hsla(0, 0%, 0%, 0.111);
  background: rgb(129, 113, 81);
  padding: 8px 12px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
.videoForm button {
  display: block;
  background-color: rgb(241, 235, 223);
  width: 23em;
  height: 3em;
  border-radius: 0.45em;
  border: none;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-family: coco;
  font-weight: 600;
}
.videoForm button:hover {
  transition: 0.3s;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}

.video-display {
  height: inherit;
  overflow-y: auto;
  width: 75%;
  padding: 4em 0 1em 1em;
}
.videosDisplayed {
  display: flex;

  gap: 0.5em;
}
.video-display .videosDisplayed video {
  height: 18em;
  width: 100;
}
.videoActions button {
  z-index: 23333;

  background-color: rgb(248, 43, 67);
  border: 1px solid hsla(0, 0%, 0%, 0.311);
  border-radius: 0.75em;
  color: white;
  width: 7em;
  height: 2.5em;
  cursor: pointer;
}
